# IP Addresses of the peers (nodes) in the network.
NODES = 192.168.206.128, 192.168.206.130, 192.168.206.129, 192.168.206.131, 192.168.206.132, 192.168.206.133, 192.168.206.135, 192.168.206.134

# Remove # from the line below if you are using Replication and specify the IP Addresses of the peers who will be storing the replication data
REPLICATION_NODES = 192.168.206.128, 192.168.206.129

# Location whose files are to be shared.
FILES_LOCATION = files/

# Remove # from the line below if you are using Replication and specify the location where the replica of all the files will be stored
# REPLICA_LOCATION = replica/